:root {
    --background: #f4f8f9;
    --main-color: #4da1ff;
    --grey-1: #e0e7eb;
    --grey-2: #7d8488;
    --grey-3: #c2cacf;
    --black-1: #2b2d2e;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.centred {
    text-align: center;
}

.fully {
    width: 100%;
    height: 100%;
}

.lefty {
    text-align: left;
}

.righty {
    text-align: right;
}

.login-page-ctn {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box-ctn {
    padding: 15px 155px;
    width: 338px; 
    background-color: #ffff;
    border-radius: 20px;
}

.brand-logo-ctn {
    margin-bottom: 10px;
}

.brand-logo {
    width: 40px;
    height: auto;
}

.brand-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: var(--main-color);
    margin-bottom: 5px;
}

.login-title-box {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    margin-bottom: 5px;
}

.text-field {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #919191;
    margin-bottom: 5px;
}
.login-field-box {
    margin-bottom: 7px;
}

.input-field {
    margin-bottom: 7px;
    height: 42px;
}

.field {
    box-sizing: border-box;
    border: 1px solid #e9eff4;
    border-radius: 6px;
    padding-left: 20px;
}

.field:hover {
    border: 1px solid var(--main-color);
}

.btn-ctn {
    height: 42px;
}

.btn {
    padding: 12px 48px;
    border-radius: 2px;
    cursor: pointer;
    border: 0px;
}

.login-btn {
    background-color: var(--main-color);
    color: #ffff;
}

.login-btn:hover {
    background-color: #1c7dec;
}

.register-btn {
    background-color: var(--grey-1);
    color: var(--black-1);
}

.register-btn:hover {
    background-color: #c2c6c9;
}

.divider-ctn {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider-line {
    flex-basis: 45%;
    height: 1px;
    background-color: var(--grey-3);
}

.divider-text {
    color: var(--grey-2);
}

.input-pass {
    position: relative;
}
.pass-icon {
    position: absolute;
    font-size: 15px;
    top: calc(50% - 7.5px);
    right: 3%;
}
